{% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>{% block title %}My Base Template{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'article/css/default.css' %}">
</head>

<body>
	<div id="page">
	    <div id="sidebar">
	        {% block sidebar %}
	        <ul>
	            <li><a href="/articles/all">Articles</a></li>
	            <li><a href="/admin/">Admin</a></li>
	        </ul>
	        {% endblock %}
	    </div>
	    <div id="content">
	        {% block content %}This is the content area{% endblock %}
	        <img id="python-logo" src="{% static 'article/images/python-logo.jpg' %}" />
	    </div>
	</div>
</body>
</html>
